@media only screen and (max-width:550px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: 60px 400px 400px 400px 400px 400px 60px;
    grid-template-areas: 
    "nav"
    "sidebar"
    "content1"
    "content2"
    "content3"
    "content4"
    "footer";
  }

  .title {
    margin-top: 50px;
  }

  .description {
    width: 300px;
  }

  .content3 {
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: grey;
  }
}